<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="flex flex-col gap-2 justify-center h-[70%] mx-4">
    <p class="text-4xl">Welcome,</p>
    <p class="text-lg">Eine Übersichtliche Auflistung der 4AHITN</p>
    <div class="flex justify-center mt-10">
      <button (click)="goToTab2()"
        class="ion-activatable px-4 py-2 font-bold text-lg rounded-lg relative overflow-hidden bg-[var(--btn-0)] shadow-[0_0_20px_-2px_var(--btn-0-shadow)] hover:shadow-[0_0_30px_0px_var(--btn-0-shadow)] duration-200"> 
        <ion-ripple-effect></ion-ripple-effect>
        Go to 4AHITN</button>
    </div>


    <img class="fixed bottom-0 right-0 w-[300px]" src="assets/welcome_circles.png">

  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>