<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="flex flex-col gap-2 justify-center h-[70%] mx-4">
    <p class="text-4xl">Welcome,</p>
    <p class="text-lg">Eine Übersichtliche Auflistung der 4AHITN</p>
    <div class="flex justify-center mt-10">
      <button (click)="goToTab2()" class="px-4 py-2 font-bold text-lg rounded-lg"
        style="background-color: var(--ion-color-primary); box-shadow: var(--ion-color-primary-shadow);">Go to
        4AHITN</button>
    </div>


    <img class="fixed bottom-0 right-0 w-[300px]" src="assets/welcome_circles.png">

  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>