<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">


  <!-- Space From Top, becuase of Statusbar. TODO: calculate Statusbar height -->
  <div class="mt-10"></div>

  <!-- Container -->
  <div class="flex flex-col px-2 sm:px-4 gap-2">

    <!-- Settings Bar Container -->
    <div class="flex w-full justify-between items-center mb-4">
      <app-svg-arrowleft (click)="goToTab2()" style="color: var(--txt1);"></app-svg-arrowleft>

      <h1>Schüler</h1>

      <button class="p-1 rounded-md" style="background-color: var(--panel0);">
        <app-svg-settings style="color: var(--txt1);"></app-svg-settings>
      </button>
    </div>

  </div>
  <div *ngFor="let student of students">
    <div class="ml-2 px-2 w-[95%]  rounded-2xl " style="background-color: var(--panel1);">
      <div class="flex justify-center">
        <img src="{{student.foto}}" class="h-[128px] w-[128px] object-contain rounded-full m-2.5">
      </div>
      <div class="flex-col text-center m-2">
        <p class="text-2xl">{{student.vname}} {{student.nname}}</p>
        <p class="text-sm"></p>
      </div>
      <div class="mb-2 ml-2.5 mr-2.5 pb-5">
        <p class="text-xs ">{{student.biografie}}</p>
      </div>
    </div>

    <div class="flex items-center flex-row ml-2 px-2 w-[95%] rounded-2xl" style="background-color: var(--panel1);">
      <app-svg-email class="m-2 p-2 rounded-full "
      style="color: var(--txt1);background-color: var(--svgBg10,);"></app-svg-email>
      <p class="text-xs">{{student.id}}@studierende.htl-donaustadt.at</p>
    </div>

    <div class="px-2 w-full mb-2">
      <div class="flex row gap-3">
        <div class="flex flex-col justify-center rounded-md w-[85%] mt-2" style="background-color: var(--panel1);">
          <p class="ml-2">Geburts-Datum: {{student.gebdat}}</p>
          <p class="ml-2 text-xs ">Alter: {{student.age}} Geburtstag in: 365 Tagen</p>
        </div>
        <div class="rounded-xl w-[25%] mt-2 p-1.5 items-center flex-col flex " style="background-color: var(--panel7);">
          <div *ngIf="student.geschlecht==='Männlich'; then thenBlock else elseBlock">
          </div>

          <ng-template #thenBlock>
            <app-svg-gender-male></app-svg-gender-male></ng-template>
          <ng-template #elseBlock><app-svg-gender-female></app-svg-gender-female></ng-template>
          <p>{{student.geschlecht}}</p>
        </div>
      </div>
    </div>

    <div class="px-2 w-full mb-2">
      <div class="flex flex-row gap-5 mt-2">
        <div class="flex flex-col gap-5 w-[50%]">
          <div class="h-[100px] flex-col flex justify-center items-center rounded-xl"
            style="background-color: var(--panel3);">
            <!-- Gewicht -->
            <app-svg-weight></app-svg-weight>
            <p class="text-xs font-bold" style="color: var(--txt4)">Gewicht:</p>
            <p class="text-xs" style="color: var(--txt4)">{{student.gewicht}}kg</p>
          </div>
          <div class="h-[150px] flex-col flex justify-center items-center rounded-xl"
            style="background-color: var(--panel5);">
            <!-- Schulweg Dauer -->
            <app-svg-run></app-svg-run>
            <p class="text-xs font-bold" style="color: var(--txt4)">Schulweg Dauer:</p>
            <p class="text-xs" style="color: var(--txt4)">{{student.sazeit}}min</p>
          </div>
        </div>

        <div class="flex flex-col gap-5 w-[50%]">
          <div class="h-[120px] flex-col flex justify-center items-center rounded-xl "
            style="background-color: var(--panel4);">
            <!-- Sportlich Aktiv -->
            <app-svg-sport></app-svg-sport>
            <p class="text-xs font-bold" style="color: var(--txt4)">Sportlich Aktiv:</p>
            <p class="text-xs" style="color: var(--txt4)">{{student.anzahlsport}}x pro Woche</p>
          </div>

          <div class="h-[130px] flex-col flex justify-center items-center rounded-xl"
            style="background-color: var(--panel6);">
            <!-- Social Media Nutzung -->
            <app-svg-social-media></app-svg-social-media>
            <p class="text-xs font-bold" style="color: var(--txt4)">Social Media Nutzung:</p>
            <p class="text-xs" style="color: var(--txt4)">{{student.mediennutzung}} Stunden pro Tag</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row gap-2 py-2 ml-2 px-2 w-[95%] rounded-2xl mb-2" style="background-color: var(--panel8);">
      <app-svg-height></app-svg-height>
      <div class="flex flex-col justify-center" style="color: var(--txt4)">
        <p class="text-xl">Körpergröße:</p>
        <p class="text-base">{{student.groesse/100}}m</p>
      </div>
    </div>

    <div *ngIf="student.raucher" class="flex items-center flex-row ml-2 px-2 w-[95%] rounded-2xl mb-2"
      style="background-color: var(--panel1);">
      <app-svg-smoker class="m-2 p-2 rounded-full "
        style="color: var(--txt1);background-color: var(--svgBg1);"></app-svg-smoker>
      <p class="text-base">Raucher</p>
    </div>

    <div *ngIf="student.alkie " class="flex items-center flex-row ml-2 px-2 w-[95%] rounded-2xl mb-2"
      style="background-color: var(--panel1);">
      <app-svg-alk class="m-2 p-2 rounded-full px-3"
        style="color: var(--txt1);background-color: var(--svgBg2);"></app-svg-alk>
      <p class="text-base">Trinkt Alkohol</p>
    </div>

    <div class="flex items-center flex-row ml-2 px-2 w-[95%] rounded-2xl mb-2" style="background-color: var(--panel1);">
      <app-svg-code-lang class="m-2 p-2 px-[10px] py-4 rounded-full "
        style="color: var(--txt1);background-color: var(--svgBg3); "></app-svg-code-lang>
      <p class="text-base">Programmiersprachen: {{student.anzProg}}</p>
    </div>

    <div class="flex items-center flex-row ml-2 px-2 w-[95%] rounded-2xl mb-2" style="background-color: var(--panel1);">
      <app-svg-lang class="m-2 p-2 px-2 rounded-full "
        style="color: var(--txt1);background-color: var(--svgBg4);"></app-svg-lang>
      <p class="text-base">Sprachen: {{student.sprachen}}</p>
    </div>

    <div class="flex items-center flex-row ml-2 px-2 w-[95%] rounded-2xl mb-2" style="background-color: var(--panel1);">
      <app-svg-os class="m-2 px-2 py-[13px] rounded-full "
        style="color: var(--txt1);background-color: var(--svgBg4);"></app-svg-os>
      <p class="text-base">Betriebssystem: {{student.os}}</p>
    </div>

    <div class="flex items-center flex-row ml-2 px-2 w-[95%] rounded-2xl mb-2" style="background-color: var(--panel1);">
      <app-svg-books class="m-2 p-2 rounded-full "
        style="color: var(--txt1);background-color: var(--svgBg1);"></app-svg-books>
      <p class="text-base">Lieblingsfach: {{student.lfach}}</p>
    </div>

    <div class="flex flex-col ml-2 px-2 w-[95%] rounded-2xl mb-2" style="background-color: var(--panel1);">
      <div class="flex flex-row items-center">
        <app-svg-special class="m-2 p-2 rounded-full "
          style="color: var(--txt1);background-color: var(--svgBg7);"></app-svg-special>
        <div class="flex flex-col gap-1">
          <p class="text-base">Aktueller Berufswunsch:</p>
          <p class="text-xs"> {{student.bwunsch}} </p>
        </div>
      </div>

    </div>

    <div class="flex flex-col ml-2 px-2 w-[95%] rounded-2xl mb-2" style="background-color: var(--panel1);">
      <div class="flex flex-row items-center">
        <app-svg-hobby class="m-2 p-2 rounded-full "
          style="color: var(--txt1);background-color: var(--svgBg6);"></app-svg-hobby>
        <p class="text-base">Hobbies: </p>
      </div>
      <div class="flex flex-row pb-2 ml-2">
        <div *ngFor="let hobby of hobbies">
          <p class="text-xs p-1 rounded-lg mr-1" style=" background-color: var(--ion-background-color);">{{hobby.hobby}}</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col ml-2 px-2 w-[95%] rounded-2xl mb-4" style="background-color: var(--panel1);">
      <div class="flex flex-row items-center">
        <app-svg-brain class="m-2 p-2 rounded-full "
          style="color: var(--txt1);background-color: var(--svgBg8);"></app-svg-brain>
        <p class="text-base">Fortgeschrittenes IT-Wissen:</p>
      </div>
      <div class="flex flex-row pb-2 ml-2">
        <p class="text-xs rounded-lg mr-1" style=" background-color: var(--ion-background-color);">{{student.itwissen}}</p>
      </div>
    </div>
  </div>

</ion-content>