<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Space From Top, becuase of Statusbar. TODO: calculate Statusbar height -->
  <div class="mt-10"></div>

  <!-- Container -->
  <div class="flex flex-col px-2 sm:px-4 gap-2">

    <!-- Settings Bar Container -->
    <div class="flex w-full justify-between items-center mb-4">
      <app-svg-arrowleft (click)="goToTab2()" style="color: var(--txt1);"></app-svg-arrowleft>

      <h1>Überblick</h1>

      <button class="p-1 rounded-md" style="background-color: var(--panel0);">
        <app-svg-settings style="color: var(--txt1);"></app-svg-settings>
      </button>
    </div>

  </div>
</ion-content>