<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Space From Top, becuase of Statusbar. TODO: calculate Statusbar height -->
  <div class="mt-10"></div>

  <!-- Container -->
  <div class="flex flex-col px-2 sm:px-4 gap-2">

    <!-- Settings Bar Container -->
    <div class="flex w-full justify-between items-center mb-4">
      <app-svg-arrowleft (click)="goToTab2()" style="color: var(--txt1);"></app-svg-arrowleft>

      <h1>Überblick</h1>

      <button class="p-1 rounded-md" style="background-color: var(--panel0);">
        <app-svg-settings style="color: var(--txt1);"></app-svg-settings>
      </button>
    </div>

    <div class="flex justify-center items-center h-[300px]">
      <div class="relative">

        <div class="absolute w-[140px] h-[140px]">
          <!-- TODO: Make Polygon Image -->
          <!-- <img class="w-[140px] h-[140px] rounded-full" src="https://hies.lueger.cloud/avatar_schi.jpg"> -->
          <img class="w-[140px] h-[140px] rounded-full" src="assets/Download.png">
        </div>
        <app-svg-polygonoutline class="absolute" style="color: var(--txt1);"></app-svg-polygonoutline>
        <app-svg-polygonoutline class="absolute scale-[150%] rotate-[10deg]"
          style="color: var(--txt1);"></app-svg-polygonoutline>
        <app-svg-polygonoutline class="absolute scale-[200%] rotate-[20deg]"
          style="color: var(--txt1);"></app-svg-polygonoutline>
        <app-svg-polygonoutline class="absolute scale-[250%] rotate-[30deg]"
          style="color: var(--txt1);"></app-svg-polygonoutline>

      </div>

    </div>

  </div>
</ion-content>