<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Space From Top, becuase of Statusbar. TODO: calculate Statusbar height -->
  <div class="mt-10"></div>

  <!-- Container -->
  <div class="flex flex-col px-2 sm:px-4 gap-2">

    <!-- Settings Bar Container -->
    <div class="flex w-full justify-between items-center mb-4">
      <button class="ion-activatable relative overflow-hidden rounded-full">
        <ion-ripple-effect></ion-ripple-effect>
        <app-svg-arrowleft (click)="goToLandingPage()" style="color: var(--txt1);"></app-svg-arrowleft>
      </button>

      <p class="text-center text-3xl">Überblick</p>

      <button class="p-1 rounded-md" style="background-color: var(--panel0);">
        <app-svg-settings (click)="goToSettings()" style="color: var(--txt1);"></app-svg-settings>
      </button>
    </div>
  </div>

  <div class="flex justify-center h-[350px] overflow-hidden">
    <div class="relative flex items-center justify-center">

      <div class="absolute w-[140px] h-[140px]">
        <!-- TODO: Make Polygon Image -->
        <!-- <img class="w-[140px] h-[140px] rounded-full" src="https://hies.lueger.cloud/avatar_schi.jpg"> -->
        <img class="w-[140px] h-[140px] rounded-full" src="https://api.susnext.com/schi.jpg">
      </div>
      <app-svg-polygonoutline class="absolute scale-[90%] rotate-[20deg]"
        style="color: var(--poly1);"></app-svg-polygonoutline>
      <app-svg-polygonoutline class="absolute scale-[130%] rotate-[40deg]"
        style="color: var(--poly2);"></app-svg-polygonoutline>
      <app-svg-polygonoutline class="absolute scale-[110%] rotate-[30deg]"
        style="color: var(--poly3);"></app-svg-polygonoutline>
      <app-svg-polygonoutline class="absolute scale-[150%] rotate-[50deg]"
        style="color: var(--poly4);"></app-svg-polygonoutline>
    </div>

    <!-- Show Labels, (Klassenvorstand) -->
    <div class="relative flex items-center top-20">
      <div class="absolute">
        <div class="flex flex-col gap-2">
          <div style="background-color: var(--panel0);" class="w-max rounded-full px-2 py-1">
            <p class="text-xs">Klassenvorstand</p>
          </div>
          <div style="background-color: var(--panel1);" class="w-max rounded-full px-2 py-1">
            <p>Veronika Schippani</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Container -->
  <div class="mt-4 flex flex-col px-2 sm:px-4 pb-2 sm:pb-4 gap-2">

    <!-- TODO: make this into a component -->
    <div class="flex flex-col rounded-xl p-2 pb-4 gap-2" style="background-color: var(--panel1);">

      <!-- Icon and Label -->
      <div class="flex items-center gap-2">
        <!-- TODO: do a component for this colored svg circle -->
        <div class="flex justify-center items-center w-14 h-14 rounded-full bg-[#cccccc]">
          <app-svg-class class="" style="color: var(--poly4);"></app-svg-class>
        </div>
        <p class="text-lg">4AHITN(N303)/23 Schüler</p>
      </div>

      <div class="flex justify-between">
        <p class="text-xl">{{maleCount}} Jungs</p>
        <p class="text-xl">{{femaleCount}} Mädchen</p>
      </div>

      <div class="flex gap-1">
        <div [style.width.%]="maleWidth" class="h-2 rounded-full" style="background-color: var(--svgBg10)"></div>
        <div [style.width.%]="femaleWidth" class="h-2 rounded-full" style="background-color: var(--svgBg8)"></div>
      </div>

    </div>

    <!-- TODO: make this into a component -->
    <div class="flex flex-col rounded-xl p-2 pb-4 gap-2" style="background-color: var(--panel1);">

      <!-- Wrapper for ( Icon + Name ) ( and the panel on the right ) -->
      <div class="flex justify-between items-center">
        <!-- Icon and Label -->
        <div class="flex items-center gap-2">
          <!-- TODO: do a component for this colored svg circle -->
          <div class="flex justify-center items-center w-14 h-14 rounded-full bg-[#FFE898]">
            <app-svg-study class="text-[#3F3A1F]" ></app-svg-study>
          </div>
          <p class="text-lg">Schulfächer</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>35Std. / W</p>
        </div>
      </div>

      <div class="flex gap-2 flex-wrap">

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>ITP2 6x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>D 2x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>SEW 3x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>NWT1 8x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>INSY 3x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>BSPK 2x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>WIR_2 1x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>AM 2x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>E1 2x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>GGP 2x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>NW2 2x</p>
        </div>

        <!-- TODO: Make this into a component -->
        <div style="background-color: var(--panel2);" class="rounded px-2 py-1">
          <p>WIR_3 2x</p>
        </div>

      </div>

    </div>

  </div>
</ion-content>