<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Space From Top, becuase of Statusbar. TODO: calculate Statusbar height -->
  <div class="mt-10"></div>

  <!-- Container -->
  <div class="flex flex-col px-2 sm:px-4 pb-2 sm:pb-4 gap-2">

    <!-- Settings Bar Container -->
    <div class="flex w-full items-center mb-4">
      <button class="ion-activatable relative overflow-hidden rounded-full">
        <ion-ripple-effect></ion-ripple-effect>
        <app-svg-arrowleft (click)="goToLandingPage()" style="color: var(--txt1);"></app-svg-arrowleft>
      </button>

      <!-- TODO: center the text -->
      <p class="text-center text-3xl">Settings</p>
    </div>

    <!-- TODO: make this into a component -->
    <div class="flex flex-col rounded-xl p-2 pb-4 gap-2" style="background-color: var(--panel1);">

      <!-- App Logo -->
      <div class="flex justify-center">
        <!-- TODO: dont use h-[250px] w-[250px] -->
        <img class="h-[250px] w-[250px]" src="assets/logo.png">
      </div>

      <!-- App Title -->
      <p class="text-center text-5xl font-bold">HTL Inside</p>

      <p class="text-xl">Version: <span>1.0</span></p>

      <div style="background-color: var(--panel2);" class="rounded p-2">
        <p class="text-sm text-[var(--txt2)] text-justify overflow-y-auto h-24">"HTL Inside" ist eine Datenbank, die
          speziell für Schülerinnen und Schüler
          der 4AHITN entwickelt wurde. Die App
          ist der ideale Ort, um wichtige Informationen zu Schülern zu finden.
          Die App bietet eine benutzerfreundliche Oberfläche, die es den Nutzern einfach macht, ihre Profile zu
          begutachten. Das Profil jedes Nutzers ist mit Informationen über seine Interessen, Fähigkeiten und Hobbys
          ausgestattet.

          Bilder wurden gemacht von ©Luka Ramljak
        </p>
      </div>

    </div>

    <!-- TODO: make this into a component -->
    <div class="flex flex-col rounded-xl p-2 pb-4 gap-2" style="background-color: var(--panel1);">
      <!-- Color Theme Text -->
      <p class="text-2xl">Color Theme</p>

      <!-- Color Circles Container -->
      <div class="flex justify-evenly">

        <div (click)="changeTheme('dark')" [class.border-4]="selectedTheme === 'dark'"
          class="bg-slate-800 border rounded-full w-14 h-14"></div>
        <div (click)="changeTheme('red')" [class.border-4]="selectedTheme === 'red'"
          class="bg-red-900 border rounded-full w-14 h-14"></div>
        <div (click)="changeTheme('green')" [class.border-4]="selectedTheme === 'green'"
          class="bg-green-900 border rounded-full w-14 h-14"></div>
        <div (click)="changeTheme('purple')" [class.border-4]="selectedTheme === 'purple'"
          class="bg-purple-900 border rounded-full w-14 h-14"></div>

      </div>

    </div>

  </div>
</ion-content>